In [184]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data=pd.read_csv('data.csv',keep_default_na=False)

In [185]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [186]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [187]:
data.drop('customerID', axis=1, inplace=True)

In [188]:
binary_features=['gender','SeniorCitizen','Partner','Dependents','PhoneService','PaperlessBilling','Churn']
numerical_features=['tenure','MonthlyCharges', 'TotalCharges']
categorical_features = [feature for feature in data.columns if feature not in binary_features and feature not in numerical_features]

In [189]:
categorical_features

['MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaymentMethod']

In [190]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [191]:
pd.set_option('future.no_silent_downcasting', True)

In [192]:
data['Partner'] = data['Partner'].replace({'Yes': 1, 'No': 0})
data['Dependents'] = data['Dependents'].replace({'Yes': 1, 'No': 0})
data['PhoneService'] = data['PhoneService'].replace({'Yes': 1, 'No': 0})
data['PaperlessBilling'] = data['PaperlessBilling'].replace({'Yes': 1, 'No': 0})
data['Churn'] = data['Churn'].replace({'Yes': 1, 'No': 0})
data['gender'] = data['gender'].replace({'Male':1,'Female':0})

In [193]:
data=pd.get_dummies(data, columns=categorical_features, drop_first=True,dtype=int)

In [194]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7043 non-null   object
 1   SeniorCitizen                          7043 non-null   int64
 2   Partner                                7043 non-null   object
 3   Dependents                             7043 non-null   object
 4   tenure                                 7043 non-null   int64
 5   PhoneService                           7043 non-null   object
 6   PaperlessBilling                       7043 non-null   object
 7   MonthlyCharges                         7043 non-null   float64
 8   TotalCharges                           7043 non-null   object
 9   Churn                                  7043 non-null   object
 10  MultipleLines_No phone service         7043 non-null   int64
 11  MultipleLines_Yes                      7043 non-null   int64
 12  InternetService_Fiber optic            7043 non-null   int64
 13  InternetService_No                     7043 non-null   int64
 14  OnlineSecurity_No internet service     7043 non-null   int64
 15  OnlineSecurity_Yes                     7043 non-null   int64
 16  OnlineBackup_No internet service       7043 non-null   int64
 17  OnlineBackup_Yes                       7043 non-null   int64
 18  DeviceProtection_No internet service   7043 non-null   int64
 19  DeviceProtection_Yes                   7043 non-null   int64
 20  TechSupport_No internet service        7043 non-null   int64
 21  TechSupport_Yes                        7043 non-null   int64
 22  StreamingTV_No internet service        7043 non-null   int64
 23  StreamingTV_Yes                        7043 non-null   int64
 24  StreamingMovies_No internet service    7043 non-null   int64
 25  StreamingMovies_Yes                    7043 non-null   int64
 26  Contract_One year                      7043 non-null   int64
 27  Contract_Two year                      7043 non-null   int64
 28  PaymentMethod_Credit card (automatic)  7043 non-null   int64
 29  PaymentMethod_Electronic check         7043 non-null   int64
 30  PaymentMethod_Mailed check             7043 non-null   int64
dtypes: float64(1), int64(23), object(7)
memory usage: 1.7+ MB

In [195]:
data['TotalCharges'].replace(' ', '0', inplace=True)
data['TotalCharges'] = data['TotalCharges'].astype(float)

/tmp/ipykernel_19281/3562024937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['TotalCharges'].replace(' ', '0', inplace=True)

In [196]:
label=data['Churn']
data.drop('Churn', axis=1, inplace=True)
data['Churn']=label

In [197]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,MultipleLines_No phone service,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,0,1,0,1,0,1,29.85,29.85,1,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,34,1,0,56.95,1889.50,0,...,0,0,0,0,1,0,0,0,1,0
2,1,0,0,0,2,1,1,53.85,108.15,0,...,0,0,0,0,0,0,0,0,1,1
3,1,0,0,0,45,0,0,42.30,1840.75,1,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,2,1,1,70.70,151.65,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,84.80,1990.50,0,...,0,1,0,1,1,0,0,0,1,0
7039,0,0,1,1,72,1,1,103.20,7362.90,0,...,0,1,0,1,1,0,1,0,0,0
7040,0,0,1,1,11,0,1,29.60,346.45,1,...,0,0,0,0,0,0,0,1,0,0
7041,1,1,1,0,4,1,1,74.40,306.60,0,...,0,0,0,0,0,0,0,0,1,1
7042,1,0,0,0,66,1,1,105.65,6844.50,0,...,0,1,0,1,0,1,0,0,0,0

In [198]:
npdata=data.to_numpy()

In [199]:
from sklearn.preprocessing import normalize

numerical_features=[4,7,8]

for features in numerical_features:
    npdata[:,features]=normalize([npdata[:,features]])[0]
    
npdata=npdata.astype(float)

In [200]:
X=npdata[:,:-1]
y=npdata[:,-1]

In [201]:
npdata=npdata.astype(float)

In [202]:
y.reshape(-1,1)

array([[0.],
       [0.],
       [1.],
       ...,
       [0.],
       [1.],
       [0.]])

In [203]:
from sklearn.model_selection import train_test_split

X=npdata[:,:-1]
y=npdata[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)

clf.fit(X_train, y_train)

y_pred=clf.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.7487579843860894